<!-- This is the menu from the left side -->
<span class="leftMenu">
<ul class="nav">
    <li><a href="#" data-toggle="offcanvas" class="visible-xs text-center"><i
            class="glyphicon glyphicon-chevron-right"></i></a></li>
</ul>

<ul class="nav hidden-xs" id="lg-menu">
    <li class="active"><a href="#featured"><i class="fa fa-share-alt-square"></i> HTTP</a>
    </li>
    <li><a href="#"><i class="fa fa-bolt"></i> Web Security</a></li>

    <hr>
    <li class="active"><a href="#featured"><i class="fa fa-html5"></i> HTML</a>
    </li>
    <li><a href="#"><i class="fa fa-css3"></i> CSS</a></li>
    <li><a href="#"><i class="glyphicon glyphicon-fire"></i> JavaScript</a></li>
    <hr>
    <li><a href="#"><i class="fa fa-yelp"></i> jQuery</a></li>
    <li><a href="#"><i class="fa fa-twitter"></i> Twitter Bootstrap</a></li>
    <li><a href="#"><i class="fa fa-facebook"></i> Facebook API</a></li>
    <li><a href="#"><i class="fa fa-google"></i> Google Maps API</a></li>
    <hr>
    <li><a href="#"><i class="fa fa-git"></i> Versioning</a></li>
    <li><a href="#"><i class="fa fa-cogs"></i> Apache (WAMP)</a></li>

</ul>
<ul class="list-unstyled hidden-xs" id="sidebar-footer">
    <li>
        <hr>
        <a href="#">
            <br>
            <i
                    class="fa fa-fighter-jet"></i>
            Csere Miklós
<br>
            <i
                    class="fa fa-fighter-jet"></i>
            Lupu Gabriel
            <br>

            <i
                    class="fa fa-fighter-jet"></i>
            Daniel Radu

            <h3>        <img class="logop5" src="library/p5-logo.png"/></h3>
        </a>
    </li>
</ul>

<!-- tiny only nav-->
<ul class="nav visible-xs" id="xs-menu">
    <li><a href="#" class="text-center"><i class="glyphicon glyphicon-list-alt"></i></a></li>
    <li><a href="#" class="text-center"><i class="glyphicon glyphicon-list"></i></a></li>
    <li><a href="http://www.bootply.com/render/96266#" class="text-center">
        <i class="glyphicon glyphicon-paperclip"></i></a></li>
    <li><a href="#" class="text-center"><i class="glyphicon glyphicon-refresh"></i></a></li>
</ul>
</span>