@charset "utf-16";
#container {
    width: 760px;
    height: auto;
    margin: auto;
}

#menu {
    height: 50px;
    background-color: lightblue;
}

#menu a {
    width: 84px;
}

header {
    background-color: red;
    width: 760px;
    height: 150px;
}