@charset "utf-16";
#container {
    width: 760px;
    height: auto;
    margin: auto;
}

header {
    height: 200px;
    width: 760px;
    background: url("../img/banner-curs.png") no-repeat;
    background-size: 100% 90%;
    position: relative;
}

#menu {
    height: 50px;
}

#menu a {
    width: 84px;
    float: left;
    display: block;
    height: 0px !important;
    padding: 50px 0 0 0;
    overflow: hidden;
    background: no-repeat 0 0px;
}

#menu a.selected {
    background-position: 0 -100px !important;
}

#menu a[data-attribute="about"] {
    background: url("../img/meniu/about.gif");
    width: 71px;
}

#menu a[data-attribute="portfolio"] {
    width: 95px;
    background: url("../img/meniu/portfolio.gif");
}

#menu a[data-attribute="contact"] {
    width: 106px;
    background: url("../img/meniu/contact.gif");
}

#menu a[data-attribute="services"] {
    background: url("../img/meniu/services.gif");
}

#menu a:hover {
    background-position: 0 -100px;
}

#menu a.selected:hover {
    background-position: 0 -50px !important;
}

@font-face {
    font-family: myFirstFont;
    src: url("../fonts/GoodDog.otf");
}

footer p {
    font-family: myFirstFont;
    font-size: 30px;
    position: absolute;
    right: 10px;
    top: 10px;
}

footer nav {
    margin-bottom: 20px;
}

footer {
    resize: both;
    overflow: auto;
    position: relative;
    width: 760px;
    height: 66px;
    clear: both;
    border-radius: 10px;
    padding: 10px;
    background: rgb(254, 255, 255); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(254, 255, 255, 1) 0%, rgba(221, 241, 249, 1) 35%, rgba(160, 216, 239, 1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(254, 255, 255, 1)), color-stop(35%, rgba(221, 241, 249, 1)), color-stop(100%, rgba(160, 216, 239, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(254, 255, 255, 1) 0%, rgba(221, 241, 249, 1) 35%, rgba(160, 216, 239, 1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(254, 255, 255, 1) 0%, rgba(221, 241, 249, 1) 35%, rgba(160, 216, 239, 1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(254, 255, 255, 1) 0%, rgba(221, 241, 249, 1) 35%, rgba(160, 216, 239, 1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(254, 255, 255, 1) 0%, rgba(221, 241, 249, 1) 35%, rgba(160, 216, 239, 1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#feffff', endColorstr='#a0d8ef', GradientType=0); /* IE6-9 */

}

html, body {
    margin: 0;
    padding: 0;
}

.hidden {
    display: none;
}

#searchbox {
    right: 10px;
    position: absolute;
    bottom: 2px;
    width: 200px;
}

#searchbox input[type="submit"] {
    border-radius: 25px;
    color: darkblue;
}

#searchbox input {
    margin: 5px;
    border-radius: 10px;
}

#searchbox input:focus {
    background-color: yellow !important;
}

#searchbox select {
    margin: 5px;
    width: 100px;
}

#searchbox label {
    float: left;
    padding-top: 5px;
    padding-left: 7px;
}

h1 {
    color: orange;
    font-family: Arial, Helvetica, Verdana, Sans-serif;
    font-size: 25px;
    margin: 0;
}

h3 {
    text-shadow: 5px 5px 5px #FF0000;
}

#bottom {
    width: 760px;
    height: auto;
    min-height: 300px;
    clear: both;
}

#bottom .element, #bottom .double-element, #bottom .triple-element {
    height: 100px;
    margin: 10px;
    padding: 10px;
    float: left;
    box-shadow: 1px 1px 5px #888888;
}

#bottom .element {
    width: 200px;
}

#bottom .double-element {
    width: 400px;
}

#bottom .triple-element {
    width: 600px;
}

#content {
    width: 480px;
    height: auto;
    min-height: 200px;
    float: left;
    box-shadow: 10px 10px 5px #888888;

}

#content article {
    padding: 25px;
    height: 120px;
    transition: height 2s;
    overflow: hidden;
}

#content article:hover {
    height: 500px;
    border-radius: 25px;
}

#sidebar {
    width: 280px;
    height: auto;
    min-height: 200px;
    float: left;
}

#sidebar div {
    padding: 20px;
}

#sidebar article {
    border-bottom: double;
    box-shadow: 10px 10px 5px #888888;
    width: 240px;
    transition: all 2s;
}

#sidebar article:hover {
    -webkit-transform: rotate(30deg); /* Chrome, Safari, Opera */
    /*   -webkit-transform: scale(2, 2); /* Chrome, Safari, Opera */
    background-color: lightblue;
    padding: 10px;
    border-radius: 25px;
}

#logo {
    position: fixed;
    bottom: 200px;
    left: 5px;
    width: 240px;
    height: 141px;

}

@-webkit-keyframes logo {
    0% {
        -webkit-transform: rotate(0deg);
        left: 0px;
    }
    25% {
        -webkit-transform: rotate(20deg);
        left: 0px;
    }
    50% {
        -webkit-transform: rotate(0deg);
        left: 500px;
    }
    55% {
        -webkit-transform: rotate(0deg);
        left: 500px;
    }
    70% {
        -webkit-transform: rotate(0deg);
        left: 500px;
    }
    100% {
        -webkit-transform: rotate(-360deg);
        left: 0px;
    }
}

#logo:hover {
    -webkit-animation: logo 5s 1;
}