#topbar {
    width: 100%;
    height: auto;
}

.panel img.head-image {
    width: 100%;
}

.panel .panel-liked {
    margin: auto;
    padding: 0 15px 10px 25px;
}

#map-canvas {
    min-height: 500px;
    margin-bottom: 20px;
}

#lg-menu i {
    color: red;
}

.leftMenu i {
    font-size: 25px !important;
    margin-right: 2px;
    color: red;
}

.leftMenu a {
    font-size: 16px;
}

.logop5 {
    width: 70%;
    margin-left: auto;
}

